/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */

 *, html, body {
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
  background-color: red;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

#main {
  margin: 0 auto;
  height: 450px;
  width: 450px;  
  border-radius: 5px;
  background-color: #eb9100;
  /*margin-left: 10px;*/
  /*margin-right: 10px;*/
  z-index: 1;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 1s;  
}

#mn{
  margin: 0 auto;
}

#main:hover {
  transform: scale(1.2);
  transition: all 1s;   
}

